<form action="<%= action %>" method="post" autocomplete="off">
  <label for="name">Name:</label><br/>
  <input type="text" name="name" id="name" value="<%= name %>"><br/>
  <div class="errors"><%= errors[:name] if errors[:name] %></div><br/>

  <label for="schema">Attribute names & types:</label><br/>
  <textarea cols="50" rows="10" name="schema" id="schema"><%= schema %></textarea><br/>
  <div class="errors"><%= errors[:schema] if errors[:schema] %></div><br/>

  <label for="rows">Data:</label><br/>
  <textarea cols="50" rows="15" name="rows" id="rows"><%= rows %></textarea><br/>
  <div class="errors"><%= errors[:rows].join("<br/>") if errors[:rows] %></div><br/>

  <input type="submit" value="<%= btn_label %>">
</form>
